@model GiftStack.Models.giftDto

@{
    ViewBag.Title = "DeleteConfirm";
}


<body class="delete-page">
    <p style="margin-top:10px">
        <a href="/gift/details/@Model.GiftId" class="add-a">
            Cancel
        </a>
    </p>
    <h2>Are you sure you want to remove this Gift?</h2>



    <h2>@Model.GiftName</h2>
    <h2>This gift is for @Model.RecipientName on @Model.EventName</h2>



    <form style="display:flex;" action="/gift/delete/@Model.GiftId" method="post">
        <input class="Delete-btn" type="submit" value="Confirm Delete" />
    </form>

</body>