@model GiftStack.Models.ViewModels.DetailsEvent
@{
    ViewBag.Title = "View";
}
<div class="editButtons">
    <a href="/event/list" class="button">Back to list</a>

</div>

<div class="selected-gift">
    <h2>@Model.SelectedEvent.EventName List</h2>
        <div>

            @foreach (var gift in Model.RelatedGifts)
             {

                <div>
                    <p><a href="/gift/details/@gift.GiftId">@gift.GiftName</a> for @gift.RecipientName<p>
                </div><br />

             }   
        </div>
 
    <span>
        <a href="/event/deleteConfirm/@Model.SelectedEvent.EventId" class="DelButton">Delete Event</a>
        <a href="/event/edit/@Model.SelectedEvent.EventId" class="button">Edit Event</a>
    </span>

</div>
