@model IEnumerable<GiftStack.Models.EventDto>
@{
    ViewBag.Title = "List";
}
<h2>Your Events</h2>
<p class="add-btn">
    <a href="/event/new" class="add-a">&plus; Add New Event</a>
</p>
<div class="gridContainer">
    @foreach (var Event in Model)
    {

            <div style="background-color: @Event.EventColor " class="list-ctn">
                <div class="content">
                    <h3 class="giftname">@Event.EventName </h3>
                    <p>@Event.EventDate.ToString("D")</p>
                  


                </div>
                <a href="/event/details/@Event.EventId">
                    <span class="li"></span>
                </a>
            </div>
    }
</div>
