
@{
    ViewBag.Title = "new";
}



<h2>Add New Event</h2>
<form class="addForm" action="/event/create" method="post">
    <div>
        <label class="addLable" for="EventName">Name:</label>
        <input class="textInput" type="text" id="EventName" name="EventName" required placeholder="Christmas" />
    </div>
    <div>
        <label class="addLable" for="EventLocation">Date:</label>
        <input class="textInput" type="date" id="EventLocation" name="EventDate" required />
    </div>
  
    <div>
        <label class="addLable" for="EventColor">Color:</label>
        <input type="color" id="EventColor" name="EventColor" />
    </div>

    <div>
        <input class="submit-btn" type="submit" value="Add Event" />
    </div>
</form>


