@model GiftStack.Models.RecipientDto

@{
    ViewBag.Title = "DeleteConfirm";
}


<body class="delete-page">
    <p style="margin-top:10px">
        <a href="/recipient/details/@Model.RecipientId" class="add-a">
            Cancel
        </a>
    </p>
    <h2>Are you sure you want to remove this 
    recipient?</h2>

    <h2>@Model.RecipientName</h2>




    <form style="display:flex;" action="/recipient/delete/@Model.RecipientId" method="post">
        <input class="Delete-btn" type="submit" value="Confirm Delete" />
    </form>

</body>