
@{
    ViewBag.Title = "Error";
}

<div class="error-container">
    <h2 class="error-title">Oops, something went wrong!</h2>
    <p class="error-message">We're sorry, but an unexpected error has occurred. Please try again later.</p>
    <a href="/" class="error-button">Go Home</a>
</div>
