@model IEnumerable<GiftStack.Models.RecipientDto>
@{
    ViewBag.Title = "List";
}

<h2>Recipient List</h2>
<p class="add-btn">
    <a href="/recipient/new" class="add-a">&plus; Add New Recipient</a>
</p>
<div class="gridContainer">
    @foreach (var recipient in Model)
    {
        <div class="list-ctn">
            <div class="content">
                <h3 class="giftname">@recipient.RecipientName</h3>

            </div>
            <a href="/recipient/details/@recipient.RecipientId">
                <span class="li"></span>
            </a>
        </div>
    }
</div>