
@{
    ViewBag.Title = "new";
}

<h2>Create Recipient</h2>
<form class="addForm" action="/recipient/create" method="post">
    <div>
        <label class="addLable" for="RecipientName">Name: </label>
        <input class="textInput" type="text" name="RecipientName" placeholder="John doe" />
    </div>
    <div>
        <input  class="submit-btn" type="submit" value="Add Recipient" />
    </div>
</form>

