
@{
    ViewBag.Title = "new";
}

<h2>Create Recipient</h2>
<form action="/recipient/create" method="post">
    <div>
        <label>Name: </label> <input type="text" name="RecipientName" />
    </div>
    <div>
        <input type="submit" value="Add Recipient" />
    </div>
</form>

