@{
    ViewBag.Title = "About";
}
<h2>About GiftStack</h2>

<p>This project allows users to add gifts, events and recipients. The application allows views that show the user what gifts they're giving, who they're giving it to and for what event..</p>
