@{
    ViewBag.Title = "Home Page";
}
<body style="background-color:#a19ef8">
    <div style="background-color:#5389e2" class="jumbotron">
        <h1>GiftStack</h1>
        <p class="lead">GiftStack is a web application that allows the user to store gifts that they would like to give to their friends and family, this site will keep all your gifts organized so you never forget a gift again!</p>
        <p><a href="/home/about" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Gifts</h2>
            <p>
                Add, View, Edit and Delete your gifts here!
            </p>
            <p><a class="btn btn-primary btn-lg" href="/gift/list">GIFTS &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Event</h2>
            <p>
                Add, View, Edit and Delete your events here!

            </p>
            <p><a class="btn btn-primary btn-lg" href="/event/list">EVENTS &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>People</h2>
            <p>
                Add, View, Edit and Delete your gift recivers here!
            </p>
            <p><a class="btn btn-primary btn-lg" href="/Recipient/List">RECIPIENTS &raquo;</a></p>
        </div>
    </div>
</body>